.style {

  &-enter {
    opacity: 0.01;
    background: #000;
    color: #FFF;

    &-active {
      opacity: 1;
      background: #000;
      color: #FFF;
      transition: all 0.5s ease-out;
    }
  }

  &-exit {
    opacity: 1;
    background: #000;
    color: #FFF;

    &-active {
      opacity: 0.01;
      background: #000;
      color: #FFF;
      transition: all 0.5s ease-out;
    }
  }
}

.mouse {
  width: 900px;
  height: 600px;
  background-color: rgba(0, 255, 255, 0.6);
  position: relative;

  &-item {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(252, 94, 94);
    position: absolute;
  }
}