.antd-demo {

  & .ant-layout-header {
    background: #eee;
    color: #3a3939;
    display: flex;

    & > div, & > ul {
      flex: 1;
    }

    & > ul {
      display: flex;

      & > li {
        width: 200px;
      }
    }
  }
}