.idea-style {
  // width: 360px;
  // height: 480px;
  overflow: hidden;
  background-image: url('../../../assets/images/dark-indoors-landscape-1578287.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #a2e8dbb5;
  padding: 32px;

  & > p {
    font-size: 20px;
    line-height: 32px;
  }
}